# Maven (allow only final JAR)
target/classes/
target/generated-sources/
target/generated-test-sources/
target/maven-*
target/test-classes/
target/*.jar.original
.mvn/

# IDEs
.idea/
.vscode/
*.iml

# Git
.git/
.gitignore

# OS / misc
**/.DS_Store
**/Thumbs.db

# Node/npm (if any)
node_modules/

# Docker
Dockerfile
docker-compose.yml
